/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap");

/* ==========> Reuse variables <========== */
:root {
  --primary-red: #22a699;
  /* --primary-red: #f00; */
  --secondary-black: #070211;
  --primary_font: "Inter";
  --secondary_font: "Merriweather";
}
/* ==========> Global CSS <========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 85%;
  margin: auto;
}
/* ==========> Reuses class <========== */
.btn {
  padding: 16px 32px;
  border-radius: 8px;
  background: var(--primary-red);
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
}
.btn:hover {
  background: #0fffe770;
  border: 2px solid #3af3e0;
  color: black;
}

/* ===========> Hero Section Banner related styles <=========== */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/pictures/Banner\ Image.png");
  color: red;
  height: 600px;
  width: 85%;
  margin: 50px auto;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.banner_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_box > p {
  font-family: var(--secondary_font);
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.banner_box > h2 {
  font-family: var(--secondary_font);
  font-size: 72px;
  line-height: 95px;
  font-weight: 900;
  text-align: center;
  color: #fff;
}
/* ===========> New Year section related styles <=========== */
.new_year {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.new_year_content_box > h1 {
  color: var(--primary-red);
  font-family: var(--primary_font);
  font-size: 88px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
.new_year_content_box > p {
  color: var(--primary-red);
  font-family: var(--primary_font);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.new_year_content_box > h2 {
  color: var(--primary-black);
  font-family: var(--primary_font);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
.new_year_image {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
}
/* ===========> Nitht party section related styles <=========== */
.night_party {
  width: 100%;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/pictures/Vectorrr.png");
  margin: 50px auto;
  padding: 126px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.year_svg {
  width: 319px;
  height: 464px;
}

.night_party_content_box h1 {
  color: #fff;
  font-family: var(--secondary_font);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.night_party_content_box p {
  color: #ffffffcc;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--primary_font);
  margin-bottom: 48px;
}
.night_party_content_box button {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* ===========> Nitht party info section related styles <=========== */
.party_info {
  display: flex;
  padding: 100px 0;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 120px 0;
  border-radius: 16px;
}
.party_info h2 {
  text-align: center;
  font-family: var(--primary_font);
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
}
.party_info span {
  color: var(--primary-red);
}
.party_info > button {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--primary_font);
  color: #fff;
  margin-top: 48px;
}
/* ===========> Comming soon section related styles <=========== */
.comming_soon {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}
/* comming soon content box style  */
.comming_soon_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comming_soon_content h2 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--primary_font);
  color: var(--primary-red);
  margin-bottom: 16px;
}
.comming_soon_content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #070211;
  font-family: var(--secondary_font);
  margin-bottom: 22px;
}
.comming_soon_content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  line-height: 32px;
}
/* comming soon image box style  */
.comming_soon_img {
  /* border: 15px solid var(--primary-red); */
  /* border-radius: 463px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.comming_soon_img img {
  width: 364px;
  height: 364px;
  border-radius: 463px;
  padding: 35px;
  outline: 15px solid var(--primary-red);
}
/* <!-- comming soon year image box style  --> */

.comming_soon_year {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comming_soon_year h1 {
  padding-top: 180px;
  color: var(--primary-red);
  font-size: 48px;
  font-weight: bold;
  font-family: var(--primary_font);
  margin-bottom: 16px;
}
.comming_soon_year p {
  color: #07021199;
  font-family: var(--primary_font);
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 43px;
}
.comming_soon_year img {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}
/* <!-- comming soon year image box style  --> */
.what_is_functional {
  margin: 120px 0;
}
.func_top_content_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.func_top_content_box > h3 {
  color: #070211;
  font-family: var(--primary_font);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.func_top_content_box > h1 {
  color: var(--primary-red);
  font-size: 72px;
  font-family: var(--secondary_font);
  font-weight: 900;
  text-align: center;
  margin-bottom: 28px;
}
.func_top_content_box > h1 > span {
  color: #070211;
}

.func_top_content_box > p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-family: var(--primary_font);
  text-align: center;
  margin-bottom: 64px;
}
/*<<<<<<<<<<< bottom image container >>>>>> */
.bottom_img_container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.top_img_box {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* empty left site white div  */
.empty_div {
  height: 433px;
  min-width: 510px;
  position: relative;
}
.gift-box {
  position: absolute;
  bottom: -180px;
  left: 30px;
  width: 470px;
  height: 500px;
}
/* wow girl right side div  */
.wow_girl {
  background: url("../images/pictures/Rectangle\ 1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  min-height: 433px;
  position: relative;
  border-radius: 16px 16px 0px 0px;
}

.discount_img {
  position: absolute;
  top: 200px;
  left: -110px;
  width: 206.841px;
  height: 206.841px;
}

/* bottom red  img box  */
.bottom_img_box img {
  width: 100%;
}
/* ===========> Portfolio section related styles <=========== */
.portfolio_section {
}
.p_content > h3 {
  color: var(--primary-red);
  font-family: var(--primary_font);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.p_content > h1 {
  color: #070211;
  font-family: var(--secondary_font);
  font-size: 48px;
  font-weight: 900;
}
.p_content > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: var(--primary_font);
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 48px;
}
/* portfolio container  */
.portfolio_container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio_container > div {
  width: 31.6%;
  height: 450px;
  flex-shrink: 0;
}
.portfolio_container > div > img {
  width: 100%;
  height: 100%;
}
/* ===========> Subscribe newsletter section related styles <=========== */
.subscribe_news {
  margin: 120px 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 100px;
}
.subscribe_parent,
.content_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_box {
  display: flex;
  justify-content: center;
}
.content_box img {
  margin-bottom: 40px;
}
.content_box h1 {
  font-size: 48px;
  font-family: var(--secondary_font);
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.content_box p {
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
  font-family: var(--primary_font);
  line-height: 32px;
  margin-bottom: 48px;
  text-align: center;
}
.input_subscribe {
  display: flex;
}
.input_subscribe input::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-family: var(--primary_font);
}
.input_subscribe input {
  width: 520px;
  padding: 24px;
  border: none;
  border-radius: 50px 0px 0px 50px;
}
.input_subscribe button {
  width: 250px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 24px 56px;
  background-color: var(--primary-red);
  border-radius: 0px 50px 50px 0px;
  border: none;
  cursor: pointer;
}

/* ===========> Footer section related styles <=========== */
footer {
  background: #070211;
  flex-shrink: 0;
  padding: 94px 140px;
  color: #fff;
}
.footer_top_content_box {
  display: flex;
  justify-content: space-between;
}
.footer_title h3 {
  color: #fff;
  font-size: 24px;
  font-family: var(--primary_font);
  font-weight: 500;
  line-height: 40px;
}
/* phone and website  */
/* we can use 2 classes toghether  */
.call_parent,
.web_parent {
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  align-items: center;
  cursor: pointer;
}
.call_parent img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  cursor: pointer;
}
/* .web_parent {
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
} */
.web_parent img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  cursor: pointer;
}
/* Footer icons */
.footer_icon_box {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer_icon_box img {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}
.footer_bottom_content_box {
  display: flex;
  justify-content: space-between;
}
.footer_bottom_content_box > h3,
.footer_bottom_content_box > button {
  font-size: 24px;
  color: #fff;
  font-family: var(--primary_font);
  font-weight: 500;
}
.footer_bottom_content_box > button {
  border: none;
  background: #070211;
  cursor: pointer;
}
