/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap");

/* ==========> Reuse variables <========== */
:root {
  --primary-red: #f00;
  --secondary-black: #070211;
  --primary_font: "Inter";
  --secondary_font: "Merriweather";
}
/* ==========> Global CSS <========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 85%;
  margin: auto;
}
/* ==========> Reuses class <========== */
.btn {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  border: none;
}

/* ===========> Hero Section Banner related styles <=========== */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/pictures/Banner\ Image.png");
  color: red;
  height: 600px;
  width: 85%;
  margin: 50px auto;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.banner_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_box > p {
  font-family: var(--secondary_font);
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.banner_box > h2 {
  font-family: var(--secondary_font);
  font-size: 72px;
  line-height: 95px;
  font-weight: 900;
  text-align: center;
  color: #fff;
}
/* ===========> New Year section related styles <=========== */
.new_year {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.new_year_content_box > h1 {
  color: var(--primary-red);
  font-family: var(--primary_font);
  font-size: 88px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
.new_year_content_box > p {
  color: var(--primary-red);
  font-family: var(--primary_font);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.new_year_content_box > h2 {
  color: var(--primary-black);
  font-family: var(--primary_font);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
.new_year_image {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
}
/* ===========> Nitht party section related styles <=========== */
.night_party {
  width: 100%;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/pictures/Vectorrr.png");
  margin: 50px auto;
  padding: 126px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.year_svg {
  width: 319px;
  height: 464px;
}

.night_party_content_box h1 {
  color: #fff;
  font-family: var(--secondary_font);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.night_party_content_box p {
  color: #ffffffcc;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--primary_font);
  margin-bottom: 48px;
}
.night_party_content_box button {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* ===========> Nitht party info section related styles <=========== */
.party_info {
  display: flex;
  padding: 100px 0;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 120px 0;
  border-radius: 16px;
}
.party_info h2 {
  text-align: center;
  font-family: var(--primary_font);
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
}
.party_info span {
  color: var(--primary-red);
}
.party_info > button {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--primary_font);
  color: #fff;
  margin-top: 48px;
}
/* ===========> Comming soon section related styles <=========== */
.comming_soon {
  display: flex;
  gap: 50px;
}
/* comming soon content box style  */
.comming_soon_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comming_soon_content h2 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--primary_font);
  color: var(--primary-red);
  margin-bottom: 16px;
}
.comming_soon_content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #070211;
  font-family: var(--secondary_font);
  margin-bottom: 22px;
}
.comming_soon_content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  line-height: 32px;
}
/* comming soon image box style  */
.comming_soon_img {
  border: 15px solid var(--primary-red);
  border-radius: 463px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.comming_soon_img img {
  width: 364px;
  height: 364px;
  border-radius: 463px;
}
 /* <!-- comming soon year image box style  --> */